# Configuration template of project!

# MySQL
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=hermes
MYSQL_USER=hermesuser
MYSQL_PASSWORD=hermespass
MYSQL_PORT=3306

# Redis
REDIS_PASSWORD=redispass
REDIS_PORT=6379

# Spring Boot
SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/hermes?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=hermesuser
SPRING_DATASOURCE_PASSWORD=hermespass
SPRING_REDIS_HOST=redis
SPRING_REDIS_PORT=6379
SPRING_REDIS_PASSWORD=redispass
